<%= simple_form_for(@kind) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: "Nombre" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,"#{action_name == 'new' ? 'Crear' : 'Actualizar' }" , class: "tiny round success button right" %>
  </div>
<% end %>
