<div class="row">
  <div class="columns large-4 large-centered">
    <p>Editar Clase</p>

    <%= render 'form' %>

    <%= link_to 'Cancelar', kinds_path, class: "tiny round alert button left" %>
  </div>
</div>
