<div class="row">
  <div class="columns large-4 large-centered">
    <h1>Nueva Clase</h1>

    <%= render 'form' %>

    <%= link_to 'Cancelar', kinds_path, class: 'round tiny button alert left' %>
  </div>
</div>
