<div class="nested-fields">
  <%= f.input :description, label: "Descripción", collection: Zone.all.map { |zone| [formatted_zone_name(zone), zone.description] } %>
  <%= link_to_remove_association "Remover Zona", f %>
</div>
