<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
xmlns:html="http://www.w3.org/TR/REC-html40">
<Worksheet ss:Name="Familias">
<Table>
<Row>
<Cell><Data ss:Type="String">Suborden</Data></Cell>
<Cell><Data ss:Type="String">Nombre</Data></Cell>
</Row>
<% @families.each do |o| %>
  <Row>
  <Cell><Data ss:Type="String"><%= o.sub_order.name %></Data></Cell>
  <Cell><Data ss:Type="String"><%= o.name %></Data></Cell>
  </Row>
<% end %>
</Table>
</Worksheet>
</Workbook>
