<%= render "layouts/user_header_menu" %>

<div class="row">
  <p>Editar Información</p>

  <%= render 'form' %>

  <%= link_to 'Cancelar', user_path(current_user), class: "left alert round button" %>
</div>
