<%= render "layouts/user_header_menu" %>

<div class="row">
  <h1>Editar Información</h1>

  <%= render 'form' %>

  <%= link_to 'Cancelar', user_path(current_user), class: "left alert round button" %>
</div>
