<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @quantity_egg.description %>
</p>

<%= link_to 'Edit', edit_quantity_egg_path(@quantity_egg) %> |
<%= link_to 'Back', quantity_eggs_path %>
