<div class="row panel pre-footer"></div>

<div id="footer">
  <div class="columns small-6">
    <small><strong>Instituto Tecnológico de Costa Rica | </strong></small>
    <small>Bases de Datos I <small>
  </div>
  <div class="columns small-6">
    <small>BirdAlbum ® Derechos Reservados 2015</small>
  </div>
</div>
