<div id="footer">
  <div class="columns small-3">
    <small><strong>Instituto Tecnológico de Costa Rica | </strong></small>
    <small>Bases de Datos I <small>
  </div>
  <div class="columns small-6">
    <small>Jesús E. Ramos Cruz |</small>
    <small>jramscr@gmail.com |</small>
    <small>8603-0626</small>
  </div>
  <div class="columns small-3">
    <small>BirdAlbum ® Derechos Reservados 2015</small>
  </div>
</div>
